.cityItem,
.cityItem:link,
.cityItem:visited {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 1rem 2rem;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  border-left: 5px solid var(--color-brand--2);
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.cityItem--active {
  border: 2px solid var(--color-brand--2);
  border-left: 5px solid var(--color-brand--2);
}

.img {
  width: 2.5rem;
}

.icon {
  font-size: 2.6rem;
}

.name {
  width: 16rem;
  font-family: "Baloo Bhai 2";
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 600;
}

.date {
  font-size: 1.5rem;
  width: 14rem;
}

.deleteBtn {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}
